.modal {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: #095c91;
  align-items: center;
  width: 40%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
  text-align: left;
  font-size: 20px;
}

th {
  font-size: 24px;
  background-color: honeydew;
}
td {
  background-color: #dff0d8;
}

.button {
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  padding: 10px 35px;
  background-color: white;
  color: #e61a39;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 20px;
}

.cancelButton {
  color: white;
  width: 60%;
  background-color: #e61a39;
  padding: 6px 12px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 2px 0;
}
